.order {

  .swiper {
    background-color: $background-color !important;
  }

  .swiper-button-next {
    color: $heading-color !important;
    background-color: #fffd;
    font-size: 14px !important;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 18px !important;
  }

  .swiper-button-prev {
    color: $heading-color !important;
    background-color: #fffd;
    font-size: 14px !important;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 18px !important;
  }

}